<h1 *ngIf="article">Edit {{article.title}}</h1>

<form *ngIf="article" (ngSubmit)="onSubmit()" #editarticle="ngForm">

  <div *ngIf="errorMessage">{{errorMessage}}</div>

  <input [(ngModel)]="article._id" type="hidden" name="_id" id="_id">

  <div>
    <label for="title">Title</label>
    <input [(ngModel)]="article.title" type="text" name="title" id="title">
    <div *ngIf="errors.title">{{errors.title.message}}</div>
  </div>

  <div>
    <label for="descripcion">descripcion</label>
    <input [(ngModel)]="article.descripcion" type="text" name="descripcion" id="descripcion">
    <div *ngIf="errors.descripcion">{{errors.descripcion.message}}</div>
  </div>

  <div>
    <label for="body">Body</label>
    <input [(ngModel)]="article.body" type="text" name="body" id="body">
    <div *ngIf="errors.body">{{errors.body.message}}</div>
  </div>

  <button type="submit">Submit</button>

</form>
